/* Donation Cart */
.container{
    position: sticky;
    top: 50px;
}
.donation-title{
    font-size:29px;
    color:#475d57;
}
.donation-details{
    color:#97A663;
}
/*  Dononr Member Name */
.added-names{
    display: flex;
    margin-left:8%;
}
.name-title{
    font-size:23px;
    font-weight:400;
    color:#475d57;
}
/* Donor's List */
.donor-list{
    padding: 0px;
    padding-left:10px;
    margin: 16px 0px ;
}
.donor-name{
    list-style: none;
    font-size:28px;
    font-weight:500;
    color:#97A663;
}